.about-section {
  display: grid;
  grid-template-columns: ($phi * 1fr) (1fr / $phi) ($phi * 2fr);
  grid-template-rows: (1fr / $phi) ((1fr / $phi) / $phi) 1fr 1fr;
  grid-gap: 2em;
}

.about {
  &__title{
    grid-column: 2 / -1;
    grid-row: 2;
    align-self: end;
    margin: 0;
    margin-left: 1em;
    background: $white;
    &::after { z-index: 1; }
  }

  &__photo-container {
    position: relative;
    z-index: -1;
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;

    &::after {
      @include pseudo;
      top: 2em;
      left: 2em;
      height: 100%;
      width: (100% * $phi);
      border-top: 1px solid $grey;
      border-left: 1px solid $grey;
    }
  }
  
  &__photo {
    width: 100%;
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
  } 

  &__body {
    grid-row: 3 / span 2;
    justify-self: start;

    &__text {
      margin-top: 0;

      .flair {
        color: $color2;
      }
    }

    &-title {
      position: relative;
      width: 115%;
      right: 15%;
      background: $color1;
    }
  }

  &__btn {
    display: inline-block;
    width: 100% / $phi;
    text-align: center;
  }
}