.about-section {
  padding: 2rem 0;
}
.about {

  &__photo-container {
    display: flex;
    // background: $grey;
  }
  
  &__photo {
    width: 50% / $phi;
  } 

  &__body {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    width: 100% - 50% / $phi;
    padding: (1px * $phi) (10px * $phi);
    padding-right: 0;
  
    &-text {
      margin-top: 0;
    }

    &-title {
      position: relative;
      width: 115%;
      right: 15%;
      background: $color1;
    }
  }
}