.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h2 {margin-top: 0;}

  .fa-copy {
    margin-left: 0.4em;
    color: $color1;
    cursor: pointer;
    &:active {transform: translate(2px, 2px);}
  }

  &__thanks {
    width: calc( 50% - 1rem);
    margin-bottom: 20px;
  }

  &__text {margin-top: 0;}
  &__socials {display: flex;}

  &__socials__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    padding-top: 5px;
    height: 60px;
    width: 60px;
    border: 1px solid $color2;

    &:hover .fab, 
    &:focus .fab, 
    &:focus-within .fab,
    &:hover .far, 
    &:focus .far, 
    &:focus-within .far {
      color: $color2;
    }

    .fab {
      @include fontSize(50);
      transition: all 0.3s ease-in;
    }

    .far {
      @include fontSize(46);
      transition: all 0.3s ease-in;
    }

    a::before{content: none;}
  }

  form {
    width: calc( 50% - 1rem);
    font-size: 0;

    > div {
      position: relative;
      margin-bottom: 2rem;

      &::before {
        @include pseudo;
        top: initial;
        bottom: 0;
        z-index: 2;
        height: 5px;
        width: 8px;
        background: $color2;
        transition: all 0.5s ease-in;
      }

      &:focus-within::before {
        left: calc(100% - 8px);
        background: $color1;
      }
    }
  }

  input:focus + label,
  textarea:focus + label {
    @include fontSize(9);
    top: 100%;
    background: transparent;
  }

  input, 
  textarea {
    display: block;
    position: relative;
    @include fontBody(17);
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border: 1px solid transparent;
    border-bottom: 1px solid $color2;
    transition: all 0.3s ease-in;

    &:required {box-shadow:none;}

    &:focus {
      outline: none;
      border: 1px solid transparent;
      border-bottom: 1px solid $color1;
    }

    &:valid + label {
      @include fontSize(9);
      background: none;
      top: 100%;
    }
  }
  

  label {
    @include fontBody(19);
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 6px;
    height: 1.4em;
    background: $white;
    transition: all 0.3s ease-in;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  button {width: 100%;}
}