.footer {
  position: relative;
  height: (80vh / $phi);
  background: url(../../assets/bg-footer.jpg);
    // Photo by Puk Patrick on Unsplash
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &__overlay {
    @include flexCenter();
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
  }
  
  &__greeting {
    @include fontSize(24);
    margin: 0;
    color: $white;
    line-height: 1em;
  }
  
  &__thank {
    @include fontLogo(60, 600, $color1);
    margin: 0;
    line-height: 0.8em;
    text-align: center;
    text-transform: uppercase;
    &::before, &::after { content: none; }
  }

  &__you { color: $color2; }

  .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 6px 0;
    background: lighten($color: $black, $amount: 15);
    border-top: 1px solid $grey;

    &__text {
      @include fontBody(16, 400, $white);
      text-align: center;
      margin: 3px 0 0 0;
      
      a {
        @include fontBody(16, 400, $color1);
        &:hover {color: $white;}
        &::before {z-index: 1;}
      }
    }
  }

}