footer {
  padding-right: 2rem;
  
  .copyright {
    @include fontBody(13);
    text-align: right;
    margin: 2px 0;
  }

  .copyright a {
    @include fontBody(13, 400, $color1);
    &:hover {color: $white;}
  }
}