::selection { color: turquoise; }

:focus {@include focusState();}
html {scroll-behavior: smooth;}
img {display: block;}

body {
  background: $black;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  margin: 0;
  background: none;
}

a, p {
  @include fontSize(36);
}

h1, h2, h3, p, a, span, i {
  color: $white;
}

.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}