::selection {color: #00ff0d;}
img {display: block;}
body {background: $white;}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button, .button {
  @include fontBody(19, 400, $color1);
  position: relative;

  padding: 0;
  padding-top: 4px;
  border: 1px solid $color2;
  margin: 0;

  background: none;
  text-transform: lowercase;
  transition: all 0.3s ease-in;

  &::before {
    @include pseudo;
    top: initial;
    bottom: 0;
    height: 4px;
    width: 8px;
    background: $color2;
    transition: all 0.3s ease-in;
  }

  &:hover, &:focus, &:focus-within {
    border: 1px solid $color1;
    color: $black;
    outline: none;

    &::before {
      width: 8px;
      left: calc(100% - 8px);
      background: $color1;
    }
  }
}

section:not(.hero-section) {margin-bottom: 200px; padding-right: 2rem;}
section:nth-of-type(2) {margin-top: 0;}
section:last-of-type {margin-bottom: 0; padding-bottom: 150px;}

.ascii {
  @include fontBody(16);
  font-family: 'Courier New', Courier, monospace;
  line-height: 0;
  white-space: nowrap;
}

a, p {
  @include fontBody(19);
  text-decoration: none;
}

a {
  position: relative;
  color: $color1;
  transition: all 0.3s ease-in;

  &:hover, &:focus {
    color: $black;

    &::before {
      width: 100%;
      background: $color1;
    }
  }
}

a::before {
  @include pseudo;
  top: initial;
  bottom: calc(20% + 3px);
  z-index: -1;
  height: 1px;
  width: 0;
  background: $black;
  transition: all 0.3s ease-in;
}

button a::before,
div > a::before {
  content: none;
}

h1 {
  @include fontLogo(32);
  margin-top: 0;
}


h2, h3 {
  @include fontTitle(30, 400, $color1);
  position: relative;
  margin-top: 0;
  text-transform: lowercase;
}

h2 {
  font-weight: 700;
  letter-spacing: -0.05em;

  &::before {
    @include pseudo;
    top: 1.1em;
    z-index: -1;
    height: 1px;
    background: $black;
  }

  &::after {
    @include pseudo;
    top: 1.1em;
    height: 4px;
    width: 8px;
    background: $black;
  }
}

h3 {
  text-transform: uppercase;
}


.wrapper {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}
