header {
  @include flexCenter;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 57px;
  z-index: 10;
  background: $black;
  // border-bottom: 1px solid $white;

// updown button code:
  // $nav-btn-size: 40px;
  // &__nav {
  //   @include flexCenter;
  //   flex-direction: column;
  //   justify-content: space-evenly;
    
  //   position: absolute;
  //   bottom: -1px;
  //   left: 100%;
  //   background: $black;
    
  //   height: ($nav-btn-size * 2 + $nav-btn-size);
  //   width: ($nav-btn-size + $nav-btn-size / 3);
  //   border: 1px solid $white;
  //   border-left: none;
  
  //   .button {
  //     @include fontSize(11);
  //     align-self: flex-start;
  //     display: block;
  //     height: $nav-btn-size;
  //     width: $nav-btn-size;
  //     border: 2px solid $white;
  //     border-radius: 50%;
  //   }
  // }
// ////////////////////////////////

  .logo {
    @include fontLogo(32);
    width: 80%;
    margin: 10px 0;
  }
  
  .nav {
    // hamburger starts
    &__toggle-label {
      position: relative;
      // top: 20px;
      // right: 20px;
      z-index: 12;
      transition: 0.5s;
    }
  
    &__toggle-input{ display: none; }

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      height: 20px;
      width: 6vw;
      min-width: 30px;

      transition: 0.5s ease;
    }

    &__links { 
      position: absolute;
      left: -200%;
      top: 0;
      right: 0;
      
      flex-direction: column;
      width: 100%;
      overflow: hidden;

      transition: all 0.5s ease-in;
    }

    .hamburger-lines {
      align-self: flex-end;
      width: 100%;
      height: 3px;
      border-radius: 4px;

      background: $white;
      transition: 0.5s ease 0.5s;

      &:nth-child(1) { width: 70%; }
      &:nth-child(3) { width: 40%; }
    }

    .hamburger:active .hamburger-lines { transform: translateY(-10px); }

    // hamburger animation starts 
    // &__toggle-input:checked + label > .hamburger {
    //   transform: rotate(360deg);
    // }

    // &__toggle-input:checked + label > .hamburger > .line1 {
    //   transform: rotate(45deg) translate(30px, 20px);
    //   // border-radius: 30px;
    // }

    // &__toggle-input:checked + label > .hamburger > .line2 {
    //   border: transparent;
    //   transform: rotate(230deg) translate(-170px, -60px);
    //   opacity: 0;
    // }

    // &__toggle-input:checked + label > .hamburger > .line3 {
    //   transform: rotate(-45deg) translate(5px, 5px);
    //   // border-radius: 30px;
    // }
    // hamburger animation ends

    &__toggle-input:checked ~ ul:first-of-type {
      position: fixed;
      z-index: 2;
      left: 0;
      
      width: 100%;
      height: auto;

      background: $grey;
    }

    .hamburger:hover, .hamburger:focus { cursor: pointer; }
    // hamburger ends

  } // nav

} // header