.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 57px;
  border-bottom: 1px solid $grey;
  background: lighten($color: $black, $amount: 15);

  .wrapper {
    @include flexCenter;
    justify-content: space-between;
  }
} // header

.logo {
  @include fontLogo(35, 600, $color1);
  margin: 10px 0;
  text-transform: uppercase;
}

.nav {
  // hamburger starts
  &__toggle-input {display: none;}
  &__toggle-label {
    position: relative;
    top: 0px;
    z-index: 12;
    transition: 0.5s;

    &:hover {
      .hamburger-lines {
        background: $color1;
        
        &.line1 {background: $white;}
        &.line1, &.line3 {
          width: 100%;
        }
      }
    }
  }

  &__links {
    position: fixed;
    top: 0;
    right: -200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: all 0.5s ease-in-out;

    &::before {
      @include pseudo;
      top: -50% / $phi;
      z-index: -4;
      height: 100% * $phi;
      border-left: 1px solid $grey;
    }

    li:first-of-type {border-top: 1px solid $grey;}
    li {
      display: grid;
      justify-items: start;
      height: 10%;
      width: 0;
      border-bottom: 1px solid $grey;
      transition: all 1.2s ease-in-out;
    }

    &__btn {
      @include fontSize(30);
      position: relative;
      display: block;
      border: none;
      margin-left: 1em;
      color: $white;

      &:hover, &:focus {
        border: none;
        color: $color2;
      }

      &::before {
        top: initial;
        bottom: .8em;
        left: -1em;
        z-index: -1;
      }

      &::after {
        @include pseudo;
        top: initial;
        bottom: .8em;
        left: -1em;
        z-index: -1;
        width: 0;
        transition: all 0.3s ease-in;
      }

      &:hover::before {
        left: calc(100% + 1em - 8px);
        border-bottom: 1px solid $color1;
      }

      &:hover::after {
        width: calc(100% + 2em);
        border-bottom: 1px solid $color1;
      }
    }
  }

  &__toggle-input:checked ~ &__links {
    z-index: 2;
    top: 0;
    right: 0;
    
    width: 50%;
    height: 100%;

    background: $black;
  }

  &__toggle-input:checked ~ &__links li {
    width: 100%;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    height: 25px;
    width: 9vw;
    max-width: 120px;
    min-width: 30px;

    transition: 0.5s ease;

    &:active .hamburger-lines {transform: translate(5px, 5px);}
  }

  .hamburger-lines {
    align-self: flex-end;
    width: 100%;
    height: 1px;

    background: $white;
    transition: 0.5s ease;

    &.line3 {width: 100% / ($phi * 2);}
    &.line1 {
      height: 3px;
      width: 100% / $phi;
      background: $color1;
    }
  }

  // hamburger animation starts 
  &__toggle-input:checked + label > .hamburger > .line1 {
    width: 50px;
    transform: translateY(20px) rotate(405deg);
  }

  &__toggle-input:checked + label > .hamburger > .line2 {
    opacity: 0;
  }

  &__toggle-input:checked + label > .hamburger > .line3 {
    width: 50px;
    transform: translateY(-4px) rotate(-405deg);
  }
  // li staggered entrance animations start
  &__links li:nth-child(2) {
    transition: all 1.6s ease-in-out;
  }
  &__links li:nth-child(3) {
    transition: all 1.8s ease-in-out;
  }
  &__links li:nth-child(4) {
    transition: all 2s ease-in-out;
  }
  &__links li:nth-child(5) {
    transition: all 2.2s ease-in-out;
  }
  // hamburger animation ends

  .hamburger:hover, .hamburger:focus { cursor: pointer; }
  // hamburger ends

} // nav
