.hero-section {
  @include flexCenter;
  position: relative;
  height: 90vh;
  border-left: 1px solid $white;
  border-bottom: 1px solid $white;
  margin-bottom: 200px;
}

.hero {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%);

  &__greeting {
    margin: 0 0 0 -2.5rem;
    line-height: 5px;
  }

  &__name {
    @include fontLogo(32, 700, $color1);
    margin: 0;
    white-space: nowrap;
    &::before, &::after { content: none; }
  }

  &__title {
    @include fontLogo(25);
    display: block;
    margin: 6px 4px 0 0;
    text-align: right;
    line-height: 5px;
  }
}