.hero {
  @include flexCenter;
  flex-direction: column;
  position: relative;
  height: 96vh;
  margin-bottom: 200px;
  background: $black;
  
  &__greeting {
    @include fontSize(28);
    position: relative;
    left: 2.5em;
    top: 0.3em;
    margin: 0 0 0 -2.5rem;
    color: $white;
    line-height: 5px;
    text-align: center;
  }
  
  &__name {
    @include fontLogo(65, 600, $color1);
    margin: 0;
    word-spacing: -0.3em;
    white-space: nowrap;
    &::before, &::after { content: none; }
    &__last { color: $color2; }
  }

  &__title {
    @include fontLogo(25, 400, $white);
    display: block;
    margin: 2px 6px 0 0;
    text-align: right;
    line-height: 5px;
    letter-spacing: 0.7em;
    word-spacing: -0.2em;
  }
}