.main {
  display: grid;
  grid-gap: 100px;
  margin: 50px 0;
}

[class*="-section"] {
  // border-bottom: 3px solid $grey;
  // border-right: 3px solid $grey;
  // padding: 3em;
  // background: $white;
}