@media (max-width: 1200px) {
  .wrapper, 
  .main::before {
    width: 85%;
  }

}

@media (max-width: 950px) {
  .nav-vertical {display: none;}
  .main {margin-left: 0;}

  .about {
    flex-direction: column;

    &__photo-container {
      width: 100%;
      height: 400px;
      margin-bottom: 1rem;
      overflow: hidden;
    }

    &__photo {
      object-fit: cover;
    }

    &__body {
      width: 100%;
      padding-left: 0;
    }
  }
}

@media (max-width: 895px) {
  .projects {
    &__card {
      flex-direction: column;

      &:nth-of-type(even) {flex-direction: column-reverse;}
    }

    .card__info-container {
      width: 100%;
      margin-top: 3rem;
      margin-bottom: 5rem;

      &:nth-of-type(odd) {padding-right: 0;}
      &:nth-of-type(even) {padding-left: 0;}
    }

    .card__img-container {
      width: 100%;
    }
  }
}

@media (max-width: 735px) {
  .contact {
    &__thanks {
      width: 100%;
    }

    form {
      width: 100%;
    }

    textarea {
      height: 200px;
    }
  }
}

@media (max-width: 380px) {
  .about__photo-container {
    height: auto;
  }
}