@media (max-width: 1200px) {
  .wrapper, 
  .main::before {
    width: 85%;
  }
}
/////////////////////////////////////////
@media (max-width: 950px) {
  .main {margin-left: 0;}
  .nav {
    position: initial;
    &__toggle-label {top: 0px;}
    
    &__toggle-input:checked ~ ul {
      z-index: 2;
      top: 0;
      right: 0;
      
      width: 30%;
      height: 100%;
  
      background: $black;
    }

    &__links {
      position: fixed;
      top: 0;
      right: -200%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
  
      &__btn::before {
        height: 6px;
        width: 12px;
      }
      
      &__btn {@include fontSize(30);}
      li {border-bottom: 1px solid $grey;}
      li:first-of-type {border-top: 1px solid $grey;}
    }
  }

  .hero {
    left: 15px;
  }

  .about {
    flex-direction: column;

    &__photo-container {
      width: 100%;
      height: 400px;
      margin-bottom: 1rem;
      overflow: hidden;
    }

    &__photo {object-fit: cover;}

    &__body {
      width: 100%;
      padding-left: 0;
    }
  }
}
/////////////////////////////////////////
@media (max-width: 895px) {
  .projects {
    &__card {
      flex-direction: column;
      &:nth-of-type(even) {flex-direction: column-reverse;}
    }

    .card__img-container {width: 100%;}
    .card__info-container {
      width: 100%;
      margin-top: 3rem;
      margin-bottom: 5rem;

      &:nth-of-type(odd) {padding-right: 0;}
      &:nth-of-type(even) {padding-left: 0;}
    }
  }
}
/////////////////////////////////////////
@media (max-width: 735px) {
  .nav__toggle-input:checked ~ ul {width: 50%;}
  
  .contact {
    &__thanks, form {width: 100%;}
    textarea {height: 200px;}
  }

  section:not(.hero-section) {margin: 150px 0;}
  section:last-of-type {margin-bottom: 0; padding-bottom: 100px;}
}
/////////////////////////////////////////
@media (max-width: 550px) {
  .wrapper, .main::before {width: 95%;}
  .tools__card {min-width: 80px;}
  .tools .skills {height: 40px;}
}
/////////////////////////////////////////
@media (max-width: 450px) {
  .nav__toggle-input:checked ~ ul {width: 75%;}
}
/////////////////////////////////////////
@media (max-width: 380px) {
  .about__photo-container {height: auto;}
}