.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .skill {
    height: 30px;
    margin-right: 2rem;
    filter: grayscale(1);
  }

  &__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
  }

  .card {

    &__info-container {
      position: relative;
      width: (100% - 100% / $phi);
      min-width: 200px;

      &:nth-of-type(odd) {padding-right: 1rem;}
      &:nth-of-type(even) {padding-left: 1rem;}

      &::before {
        @include pseudo;
        top: 3rem;
        left: initial;
        right: 0;
        height: 5px;
        width: 8px;
        background: $grey;
      }

      &::after {
        @include pseudo;
        top: 3rem;
        border-bottom: 1px solid $grey;
      }
    }

    &__title {
      margin: 0;
      color: $color1;
    }
  
    &__description {
  
    }
  
    &__languages {
      display: flex;
      margin-top: 15px;
    }

    &__repo {
      @include fontSize(20);
      position: relative;
      left: 50%;
      display: block;
      width: 100% / $phi;
      
      text-align: center;
      transform: translateX(-50%);

      i {transition: all 0.3s ease-in;}
      &:hover i {color: $color1;}
    }

    &__img-container {
      position: relative;
      width: (100% / $phi);
      border: 1px solid $grey;
      transition: all 0.3s ease-in;
    
      &::before {
        @include pseudo;
        height: 5px;
        width: 8px;
        background: $grey;
        transition: all 0.3s ease-in;
      }

      &:hover, &:focus-within {
        border: 1px solid $color1;

        &::before {
          left: calc(100% - 8px);
          background: $color1;
        }
      }
    }

    &__img {
      width: 100%;
    }
  } //card
}