.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;

  .skill {
    height: 50px;
    margin: 0 auto;
  }

  &__card {
    width: calc(20% - 2rem);
    min-width: 120px;
    margin: 1rem;

    p {
      margin: 5px auto;
      text-align: center;
    }
  }
}