.tools-section {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  margin-top: 20px;

  .skill {
    height: 70px;
    margin: 0 auto;
  }

  &__card {
    i {
      @include fontSize(75);
      display: block;
      height: 70px;
      color: #40c2ff;
      text-align: center;
    }

    p {
      margin: 5px 0;
      text-align: center;
    }
  }
}